<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  <title>SJ Tech</title>
</head>

<body>
  {{> navbar data= details}}

  {{>slider sliders = sliders}}
  {{!--banner section1 --}}

  <section class="banner-section1 py-5 background1">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>Start Learning New Technology Here</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit minima in maiores!
          </p>

          <button type="submit" class="btn btn-primary">Start Learning</button>

        </div>
      </div>
    </div>

  </section>

  {{!--services section --}}

  <section id="services-section" class=" py-3">
    <div class="container">
      <h1 class="text-center text-secondary">Services which we provide</h1>

      <div class="row mt-3">
        {{#each services}}
        <div class="col-md-4">
          <div class="card ">
            <div class="card-body">
              <div class="container text-center ">
                <i class="{{this.icon}} service-icon "></i>
              </div>

              <h5 class="card-title">{{this.title}}</h5>
              <p>{{this.description}}</p>

              <a href="{{this.link}}">{{this.linkText}}</a>
              <a href="#" class="ml-5">Support</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

  </section>
  {{!-- banner-section2 --}}
  <section class="banner-section2 py-5">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6">
          {{!-- left side text --}}
          <h3>We Work For People, Not For Money</h3>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolor suscipit odio sed accusantium voluptas impedit quibusdam,
            ipsa cum! Ullam nulla illum ratione, nam rerum quas.
          </p>
          <button class="btn btn-primary">Click Here</button>
        </div>
        <div class="col-md-6 text-center py-2">
          {{!-- Right side image --}}
          <img src="/static/images/graphic1.png" style="height: ;" alt="graphic1">
        </div>
      </div>
    </div>
  </section>
  {{!-- contact section --}}

  <section id="contact-section" class="py-5 background1">
    <div class="container">
      <h3 class="text-center text-secondary">Contact Us</h3>
      <div class=" row">
        <div class="col-md-12">

          <form action="/contact-us" method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Your Email</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
              <label for="contactnumberfield" class="form-label">Contact No</label>
              <input name="contact" type="Number" class="form-control" id="contactnumberfield">
            </div>

            <div class="form-floating my-2">
              <textarea name="query" style="height: 250px;" class="form-control" placeholder="Enter your query here"
                id="queryField"></textarea>
              <label for="queryField">Your Query</label>
            </div>

            <div class="container text-center">
              <button type="submit" class="btn btn-secondary">Submit</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>

  {{!-- About section --}}
  <section id="about-section">
    <div class="container text-center py-3">
      <div class="row">
        <div class="col-md-12">
          <h3>About Us</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Pariatur doloribus quasi, accusamus magnam animi dolor cum voluptatibus?
            Exercitationem eum aperiam et mollitia, nihil, omnis molestiae neque nulla rem,
            consequatur nemo!</p>
          <button class="btn btn-primary">Contat Us</button>
        </div>
      </div>
    </div>
  </section>
  
  {{> footer}}
<script src="https://kit.fontawesome.com/93fbf55cfc.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>